.font-bebas {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
}


.font-lato-regular {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
}

.font-lato-bold {
  font-family: "Lato", serif;
  font-weight: 700;
  font-style: normal;
}



.font-raleway-regular {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.font-raleway-bold {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}