

.footerContainer {
    height: 70vh;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: black !important;
    color: #f3f3f4;
}

.footerBackSize {
    font-size: 3rem;
    position: relative;
    top: 30%;
    text-decoration: none;
    color: #990606;
    transition: all 0.5s ease;
}
.footerBackSize:hover {
    color: #f3f3f4;
    text-decoration: none;
}

.footerImg {
    width: 13rem;
    transition: all 0.5s ease;
}

.footerTextSize {
    font-size: 1.5rem;
    margin-top: 2rem;
    transition: all 0.5s ease;
}

.footerTitleTextSize {
    font-size: 2.5rem;
    transition: all 0.5s ease;
    color: #990606;

}

.footerLinkSize {
    font-size: 1.3rem;
    padding-left: 8rem;
    padding-right: 8rem;
    background-color: black;
    transition: all 0.5s ease;

}

.btn-inizia-footer{
    background-color: #990606;
    color: #f3f3f4;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-inizia-footer:hover{
    background-color: #f3f3f4;
    color: #990606;
    text-decoration: none;
}


@media (max-width: 1350px) {

    .footerBackSize {
        font-size: 2.5rem;
    }

    .footerImg {
        width: 9rem;
        transition: all 0.5s ease;
    }

    .footerTextSize {
        font-size: 1.3rem;
        margin-top: 2rem;

    }

    .footerTitleTextSize {
        font-size: 2rem;
    }

    .footerLinkSize {
        font-size: 1.1rem;
    }

    .btn-inizia-footer{
        font-size: 1.1rem;
        padding: 0.8rem 1.5rem;
    }
}

@media (max-width: 900px) {

    .footerBackSize {
        font-size: 2rem;
    }

    .footerImg {
        width: 9rem;
        transition: all 0.5s ease;
    }

    .footerTextSize {
        font-size: 1.1rem;
        margin-top: 2rem;

    }

    .footerTitleTextSize {
        font-size: 2rem;
    }

    .footerLinkSize {
        font-size: 1.1rem;
        padding: 0.5rem 1rem;
    }

    .btn-inizia-footer{
        font-size: 1.1rem;
        padding: 0.8rem 1.5rem;
    }
}

@media (max-width: 767px) {

    .tornasu {
        display: block;
        margin: 3rem;
    }

    .footerBackSize{
        font-size: 1.7rem
    }

    .footerImg {
        width: 10rem;
        transition: all 0.5s ease;
    }

    .footerTextSize {
        font-size: 1.1rem;
        margin-top: 2rem;

    }

    .footerTitleTextSize {
        font-size: 2rem;
    }

    .footerLinkSize {
        font-size: 1.1rem;
        padding: 0.5rem 1rem;
    }

    .btn-inizia-footer{
        font-size: 1.1rem;
        padding: 0.8rem 1.5rem;
    }
}