body {
    overflow-x: hidden;
}

.title-container {
    position: absolute;
    /* Posiziona rispetto alla finestra */
    top: 0;
    left: 0;
    width: 100vw;
    /* Larghezza dello schermo */
    height: 100vh;
    /* Altezza dello schermo */
    display: flex;
    /* Abilita il flexbox */
    align-items: center;
    /* Centra verticalmente */
    justify-content: center;
    /* Centra orizzontalmente */
    z-index: 1;
    /* Porta sopra alla navbar */
    pointer-events: none;
    /* Rende il contenitore cliccabile sotto */
}

/* Stile del titolo */
.title {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 800;
    letter-spacing: -0.025em;
    text-align: center;
    color: #f3f3f4;
}

.border-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: inherit;
    /* Inherits the same triangle shape */
    background-color: transparent;
    /* Keeps the interior transparent */
    border-top: 5px solid red;
    /* Add a border to the top */
    box-sizing: border-box;
    /* Ensure border is included in dimensions */
    z-index: 1;
    /* Place it above the parent */
}

.arrowdown {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 2rem;
    align-items: center;
    text-align: center;
    align-content: center;
    /* Adjust distance from the bottom */
    /* Center horizontally */
    transform: translateX(-50%) translateX(-2px);
    z-index: 2;
    /* Ensure it appears above other elements */
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

.container {
    display: flex;
    flex-direction: column;
}

.slide-in {
    width: 100%;
    max-width: 100%;
    display: flex;
    align-self: center;
    font-size: 1.5rem;
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.8s ease-out;
}

.btn{
    text-decoration: none;
    color: #f3f3f4;
    padding: 10px 30px;
    border-radius: 50px;
    font-size: 1.2rem;
    background-color: #990606;
    transition: background-color 0.3s, color 0.3s;
}

.left {
    transform: translateX(-100%);
    align-self: center;
}

.right {
    transform: translateX(100%);
}

.show {
    opacity: 1;
    transform: translateX(0);
}

.box {
    background-color: #f3f3f4;
    max-width: 100%;
    border-color: #990606;
    border-style: solid;
    border-width: medium;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    text-align: center;

}

.numberLeft {
    margin-top: 10rem;
    font-size: 3rem;
    color: #990606;
    align-self: center;
    justify-content: center;
}

.flex-image {
    width: 50%;
    /* Set the image to occupy 40% of the container's width */
    height: auto;
    /* Maintain aspect ratio */
    border: 3px solid #990606;
    /* Add a border */
    border-radius: 10px;
    /* Optional: rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Optional: add a shadow for depth */
    align-items: center;
}

.row-container {
    display: flex;
    flex-direction: column;
}


@media (min-width: 768px) {
    .left {
        align-self: flex-end !important;
    }

    .right {
        align-self: initial !important;
    }

    .flex-image {
        width: 30%;
    }

    .box {
        width: 100%;
    }

    .row-container {
        display: flex;
        /* Flex container to align items horizontally */
        flex-direction: row;
        justify-content: space-between;
        /* Space between the box and the image */
        align-items: center;
        /* Align items vertically in the center */
        width: 100%;
        /* Take full width of the container */
        margin-bottom: 10px;
        /* Add space between rows */
    }

    .row-container.even {
        flex-direction: row-reverse;
        /* Reverse the order of items */
    }

    .numberLeft {
        margin-top: 0rem;
    }
}


@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

@media (min-width: 768px) {
    .title {
        font-size: 3rem;
        line-height: 1;
    }
}

@media (min-width: 1024px) {
    .title {
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-size: 3.75rem;
        line-height: 1;
    }
}